.backgroundHome{
    background-image: url('https://watermark.lovepik.com/photo/20211126/large/lovepik-clothing-store-picture_501098957.jpg');
    background-repeat: round;
    height: 550px;
    width: 100%;
}